<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Find local farm & food events">
    <meta name="author" content="small.ag">

    <title>Triangle Farm Hub</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <div class="navbar-item">
            <h1 class="title is-5">Triangle Farm Hub</h1>
          </div>
          <div class="navbar-item is-hidden-mobile">
            <h2 class="subtitle is-6">Your online resource for all things farm, food and local in the Triangle</h1>
          </div>
          <div class="navbar-burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="navbar-menu" id="navMenu">
          <div class="navbar-end">
            <div class="navbar-item">
              <a href="<%= page_path(@conn, :index) %>">
                <h3 class="title is-6">Event Calendar</h3>
                <span class="summary">See upcoming farmer markets and other farm related events</span>
              </a>
            </div>
            <div class="navbar-item">
              <a href="#">
                <h3 class="title is-6">CSA Finder</h3>
                <span class="summary">Search for CSAs taking on new members right now</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div id="banner"></div>

    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>require("js/app").App.run()</script>
  </body>
</html>
