$primary: #51B473;
$secondary: #F2484B;
$family-primary: Lato, sans-serif;

@import "node_modules/bulma/bulma.sass";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  padding: 0px 20px;
  max-width: 1000px;
}

.navbar {
  .navbar-item {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-brand {
    .subtitle {
      color: $grey-light;
      max-width: 250px;
    }
  }
  .navbar-menu {
    .navbar-item {
      max-width: 200px;
      line-height: 0.85rem;
      border-left: 1px solid $grey-lighter;

      &:last-child {
        border-right: 1px solid $grey-lighter;
      }

      .title.is-6 {
        color: $primary;
        margin-bottom: 3px;
        font-size: 0.85rem;
      }

      .summary {
        color: $grey;
        font-size: $size-7;
      }
    }
  }
}

#banner {
  height: 80px;
  width: 100%;
  background: url('/images/pretty_banner.png') no-repeat;
  background-position: center;
  background-size: auto 100%;
  background-color: $grey-dark;
  margin-bottom: 30px;
}

.notification.is-primary.is-thin {
  border: 1px solid $primary;
  background: transparent;
  color: inherit;
}

#eventSearch {
  margin-top: 30px;
}

#calendar {
  max-width: 320px;
  height: 480px;
  margin: 0px auto;

  @include until($tablet) {
    max-width: 100%;
  }

  .Calendar-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .Calendar-header {
    height: 50px;
    color: $grey;
    text-align: center;
    line-height: 50px;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    text-transform: uppercase;
    border-bottom: 3px solid $white-bis;
    margin-bottom: 10px;

    .Calendar-header-currentDate {
      .Calendar-header-currentDate-month {
        font-weight: bold;
        margin-right: 5px;
      }

      .Calendar-header-currentDate-year {
        font-weight: lighter;
      }
    }

    button {
      position: relative;
      top: 7px;
      width: 30px;
      height: 30px;
      font-size: 20px;
      font-weight: bold;
      border: 0;
      background: lighten($primary, 15%);
      color: white;
      cursor: pointer;
      border-radius: 9999px;
      outline: none;
    }
  }

  .Calendar-grid-header {
    .Calendar-grid {
      .Calendar-grid-item {
        font-size: 0.8rem;
        font-weight: lighter;
        text-transform: uppercase;
        padding: 0.5rem 0.1rem;
        background: transparent;
      }
    }
  }

  .Calendar-grid {
    @extend .is-hidden-mobile;

    .Calendar-grid-item {
      flex: 0 14.28571%;
      text-align: center;
      border-right: 2px solid white;
      border-bottom: 2px solid white;
      padding: 0.5rem;
      padding-bottom: 0.8rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: $white-bis;
      color: $grey;

      &.Calendar-grid-item--current {
        background: $secondary;
        color: white;
      }

      &.Calendar-grid-item.nextMonth,
      &.Calendar-grid-item.prevMonth {
        color: $grey-lighter;
      }
    }
  }
}

#events {
  padding: 20px;

  .subtitle {
    color: $grey-lighter;
  }

  .event-group {
    .title {
      margin-bottom: 20px;
    }
    
    .event-item.card {
      &:last-child {
        margin-bottom: 30px;
      }

      .media {
        margin-bottom: 5px;
      }

      .card-content {
        padding: 15px;

        .event-name {
          color: $grey-darker;
          font-size: 0.9rem;
        }

        .event-details {
          font-size: 0.7rem;

          .event-time {
            color: $secondary;
            margin-right: 10px;
          }
          .event-location {
            color: $grey-light;
          }
        }

        .content {
          font-size: 0.9rem;
          font-weight: lighter;
        }
      }
    }
  }
}
