$primary: #51B473;
$family-primary: Lato, sans-serif;

@import "node_modules/font-awesome/scss/font-awesome";
@import "node_modules/bulma/bulma.sass";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1000px;
}

.navbar {
  .navbar-item {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-brand {
    .subtitle {
      color: $grey-light;
      max-width: 250px;
    }
  }
  .navbar-menu {
    .navbar-item {
      max-width: 200px;
      line-height: 0.85rem;
      border-left: 1px solid $grey-lighter;

      &:last-child {
        border-right: 1px solid $grey-lighter;
      }
      .title.is-6 {
        color: $primary;
        margin-bottom: 3px;
        font-size: 0.85rem;
      }
      .summary {
        color: $grey;
        font-size: $size-7;
      }
    }
  }
}

.banner {
  height: 80px;
  width: 100%;
  background: url('/images/pretty_banner.png') no-repeat;
  background-position: center;
  background-size: auto 100%;
  margin-bottom: 30px;
}

.notification.is-primary.is-thin {
  border: 1px solid $primary;
  background: transparent;
  color: inherit;
}


