<div class="container">
  <div class="level notification is-primary is-thin">
    <div class="level-left">
      <div class="level-item is-size-5">Do you know of an event that belongs in this calendar? Please let us know!</div>
    </div>
    <div class="level-right">
      <a class="level-item button is-primary" href="#">Submit an Event</a>
    </div>
  </div>
</div>
