<div class="container">
  <div class="alert clearfix">
    <div class="message pull-left">Do you know of an event that belongs in this calendar? Please let us know!</div>
    <a class="btn pull-right" href="#">Submit an Event</a>
  </div>
</div>
