<div class="container">
  <div class="level notification is-primary is-thin">
    <div class="level-left">
      <div class="level-item is-size-5">Do you know of an event that belongs in this calendar? Please let us know!</div>
    </div>
    <div class="level-right">
      <a class="level-item button is-primary" href="https://pierrelebrun.typeform.com/to/J2O9K7">Submit an Event</a>
    </div>
  </div>
</div>

<div id="eventSearch" class="container"></div>
